.classShop {
    display: none;

    &.classShop-open {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .classShop-window {
        width: 55.93%;
        height: 62.77%;
        background-image: url('../../../assets/img/classShop/background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: transparent;

        .left-section {
            .warriorSection-button {
                position: absolute;
                top: 28.51%;
                left: 28.28%;
                width: 19.68%;
                aspect-ratio: 378/95;
                border: none;
                outline: none;
                background-image: url('../../../assets/img/classShop/warriorSection-button.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                padding: 0;

                &.active {
                    background-image: url('../../../assets/img/classShop/warriorSection-button-active.png');
                }
            }

            .mageSection-button {
                position: absolute;
                top: 39.25%;
                left: 28.28%;
                width: 19.68%;
                aspect-ratio: 378 / 95;
                border: none;
                outline: none;
                background-image: url('../../../assets/img/classShop/mageSection-button.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                padding: 0;

                &.active {
                    background-image: url('../../../assets/img/classShop/mageSection-button-active.png');
                }
            }

            .others-button {
                position: absolute;
                top: 48.98%;
                left: 28.28%;
                width: 19.68%;
                aspect-ratio: 378 / 95;
                border: none;
                outline: none;
                background-image: url('../../../assets/img/classShop/others-button.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                padding: 0;

            }

            .others2-button {
                @extend .others-button;
                top: 58.78%;
            }
        }

        .right-section {
            .choose-button {
                position: absolute;
                top: 24.16%;
                left: 56.35%;
                width: 7.03%;
                aspect-ratio: 135 / 50;
                border: none;
                outline: none;
                background-image: url('../../../assets/img/classShop/choose-button.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                padding: 0;

                &.active {
                    background-image: url('../../../assets/img/classShop/choose-button-active.png');
                }
            }

            .buy-button {
                position: absolute;
                top: 24.16%;
                left: 56.35%;
                width: 7.03%;
                aspect-ratio: 135 / 50;
                border: none;
                outline: none;
                background-image: url('../../../assets/img/classShop/buy-button.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                padding: 0;
            }

            .warriorPortrait {
                position: absolute;
                top: 26.48%;
                left: 51.71%;
                width: 16.30%;
            }

            .magePortrait {
                position: absolute;
                top: 26.48%;
                left: 50.88%;
                width: 17.96%;
            }

            .warriorDescription,
            .mageDescription {
                position: absolute;
                top: 48.14%;
                left: 50%;
                width: 19.73%;
            }

            .back-button {
                position: absolute;
                top: 23.61%;
                left: 67.13%;
                width: 1.71%;
                aspect-ratio: 30 / 30;
                border: none;
                outline: none;
                background-image: url('../../../assets/img/classShop/back-button.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-color: transparent;
                padding: 0;
            }
        }
    }

}