.classShop {
    display: none;

    &.classShop-open {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .classShop-window {

        .back-button {
            position: absolute;
            top: 23.42%;
            left: 70.83%;
            width: 1.56%;
            aspect-ratio: 30 / 30;
            border: none;
            outline: none;
            background-image: url('../../../assets/img/classShop/back-button.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            padding: 0;
            margin: 10px;
        }

    }
}