.lobby {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #f0dfd4;

    .canvas-container {
        position: relative;
        width: min(100vw, 1920px);
        aspect-ratio: 16 / 9;

        // широкий экран
        @media (min-aspect-ratio: 16/9) {
            width: auto;
            height: min(100vh, 1080px);
            aspect-ratio: 16 / 9;
        }

        // высокий экран
        @media (max-aspect-ratio: 16/9) {
            width: min(100vw, 1920px);
            aspect-ratio: 16 / 9;
        }

        .startGame-button {
            position: absolute;
            top: 17%;
            left: 41%;
            width: 18%;
            aspect-ratio: 349 / 124;
            border: none;
            outline: none;
            background-image: url('../../assets/img/lobby/start-button.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
        }

        .classShop-button {
            position: absolute;
            top: 30%;
            left: 75%;
            width: 18%;
            aspect-ratio: 349 / 124;
            border: none;
            outline: none;
            background-image: url('../../assets/img/lobby/shop-button.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
        }

        canvas {
            display: block;
            width: 100% !important;
            height: 100% !important;
        }
    }
}