.lobby2 {
    position: fixed;
    top: 20vh;

    .create-join {
        position: fixed;
        left: 20vw;

        .rooms {
            display: flex;
            flex-direction: column;
        }
    }

    .room-info {
        position: fixed;
        left: 60vw;
    }

    .room-members {
        display: flex;
        flex-direction: column;
    }
}