.game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    .canvas-container {
        position: relative;
        width: min(100vw, 1920px);
        aspect-ratio: 16 / 9;

        // широкий экран
        @media (min-aspect-ratio: 16/9) {
            width: auto;
            height: min(100vh, 1080px);
            aspect-ratio: 16 / 9;
        }

        // высокий экран
        @media (max-aspect-ratio: 16/9) {
            width: min(100vw, 1920px);
            aspect-ratio: 16 / 9;
        }
    }

    canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }
}