.chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(240, 248, 255, 0.5);

    .chat-toggle {
        background-color: rgb(255, 255, 0, 0.5);
        cursor: pointer;
    }

    .chat-window {
        width: 400px;

        .chat-messages {
            height: 40vh;
            overflow-y: auto;
            white-space: pre-line;
            overflow-wrap: break-word;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}