.itemShop {
    display: none;

    &.itemShop-open {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .itemShop-window {
        width: 55.93%;
        height: 62.77%;
        background-image: url('../../../assets/img/itemShop/background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: transparent;

        .left-section,
        .right-section {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 22%;
            left: 29%;
            width: 10%;

            .commonsword,
            .commonbow,
            .commonhelmet,
            .commonchestplate,
            .commonleggings,
            .commonshield,
            .herosword,
            .herobow,
            .herohelmet,
            .herochestplate,
            .heroleggings,
            .heroshield,
            .commonarrow,
            .commonpotion {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;

                p {
                    font-family: 'vcrosd';
                    font-size: clamp(0.7rem, 0.5rem + 0.5vw, 0.85rem);
                }

                .button-container {
                    display: flex;
                    position: relative;
                    width: 100%;

                    .buy-button {
                        position: relative;
                        width: 50%;
                        aspect-ratio: 135 / 50;
                        border: none;
                        outline: none;
                        background-image: url('../../../assets/img/itemShop/buy-button.png');
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        padding: 0;

                        &.active {
                            background-image: url('../../../assets/img/itemShop/buy-button-active.png');
                        }
                    }

                    .sell-button {
                        position: relative;
                        left: 10%;
                        width: 50%;
                        padding: 0;
                    }
                }
            }

            .commonarrow,
            .commonpotion {
                display: flex;
                position: absolute;
                left: 122%;
                width: 100%;
                padding: 0;

                .button-container {
                    .sell-button {
                        position: absolute;
                        top: 130%;
                    }
                }
            }

            .commonpotion {
                position: absolute;
                top: 20%;
            }
        }

        .right-section {
            left: 51%;
        }


    }

}